<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
<title>Ap212</title>
</head>


<body>

    <div id="quarto">
        <ul> 
            <h1>Quarto</h1>
            
            <% ListaQuarto.forEach((item)=> { %>
            <li>
                <%= item.item %>    
            </li>
            <%  }) %>
        </ul>
        <form action="/Quarto" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit">add</button>
        </form>
    </div>

    <div id="cozinha">
        <ul> 
            <h1>Cozinha</h1>
            
            <% ListaCozinha.forEach((item)=> { %>
            <li>
                <%= item.item %>    
            </li>
            <%  }) %>
        </ul>
        <form action="/Cozinha" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit">add</button>
        </form>
    </div>
    
    <div id="lavandeira">
        <ul> 
            <h1>Lavandeira</h1>
            
            <% ListaLavanderia.forEach((item)=> { %>
            <li>
                <%= item.item %>    
            </li>
            <%  }) %>
        </ul>
        <form action="/Lavandeira" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit">add</button>
        </form>
    </div>
    
    <div id="banheiro">    
        <ul> 
            <h1>Banheiro</h1>
            
            <% ListaBanheiro.forEach((item)=> { %>
            <li>
                <%= item.item %>    
            </li>
            <%  }) %>
        </ul>
        <form action="/Banheiro" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit">add</button>
        </form>
    </div>
    
    <script src="script.js"></script>
</body>
</html>